<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/statics/style.css" />
    <title>Artist's</title>
  </head>
  <body>
    <div class="container">
      <div class="nave">
        <ul>
          <li><a href="/">HOME</a></li>
          <li>
            <a href="/"><img src="/statics/Logo.webp" alt="logo" /></a>
          </li>
          <li><a href="/artistes">GALLERY</a></li>
        </ul>
        s
      </div>
    </div>
    <div class="container3">
      <h1>TOP ARTIST NOW</h1>
      <div class="cardeMusic">
        {{ range . }}
        <div class="card">
          <img src="{{.Image}}" alt="" />
          <div class="info">
            <h1><a href="/artist/{{.Id}}">{{.Name}}</a></h1>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
