<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/statics/style.css" />
    <title>Artist's</title>
  </head>
  <body>
    <div class="container">
      <div class="nave">
        <ul>
          <li><a href="/">HOME</a></li>
          <li>
            <a href="/"><img src="/statics/Logo.webp" alt="logo" /></a>
          </li>
          <li><a href="/artistes">GALLERY</a></li>
        </ul>
        s
      </div>
    </div>
    <div class="container3">
      <div class="filtercontainer">
        <form action="" method="post">
          <div class="memberFilters">
            <label for="">Filter By Members :</label>
            <div class="allcheckbox">
              <div class="chekbox">
                <p>1 Member</p>
                <input type="checkbox" name="mem1" value="1" />
              </div>
              <div class="chekbox">
                <p>2 Members</p>
                <input type="checkbox" name="mem2" value="2" />
              </div>
              <div class="chekbox">
                <p>3 Members</p>
                <input type="checkbox" name="mem3" value="3" />
              </div>
              <div class="chekbox">
                <p>4 Members</p>
                <input type="checkbox" name="mem4" value="4" />
              </div>
            </div>
          </div>
        </form>
      </div>
      <h1>TOP ARTIST NOW</h1>
      <div class="cardeMusic">
        {{ range . }}
        <div class="card">
          <img src="{{.Image}}" alt="" />
          <div class="info">
            <h1><a href="/artist/{{.Id}}">{{.Name}}</a></h1>
          </div>
        </div>
        {{end}}
      </div>
    </div>
  </body>
</html>
