<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bellefair&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/statics/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="nave">
        <ul>
          <li><a href="">HOME</a></li>
          <li>
            <a href=""><img src="/statics/Logo.webp" alt="logo" /></a>
          </li>
          <li><a href="">GALLERY</a></li>
        </ul>
      </div>
      <div class="circle"><img src="/statics/birds-in-the-trap-sing-mcknight-music-producer-musician-hip-hop-music-way-back-others-da6c6f23acaa596f3eb7c1163ac2ad0a.png" alt=""></div>
      <div class="hero">
        <div class="info">
          <h1>We preserve History</h1>
          <h1>OF MUSICS</h1>
        </div>
      </div>
    </div>
    <div class="container2">
     <div class="hero2">
        <div class="info2">
          <h1>We preserve History</h1>
          <h1>OF MUSICS</h1>
        </div>
      </div>
    </div>
  </body>
</html>
